*{
  margin: 0;
  padding: 0;
 
}
.policy-class{
  
    
  margin: 2rem; /* Equivalent to m-8 */
  padding: 2rem;
  height: auto; /* Equivalent to h-auto */
  background-color: white; /* Equivalent to bg-white */
  border-radius: 1rem; /* Equivalent to rounded-2xl */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Equivalent to shadow-xl */
  }
  .preview{
    background-color: #f2f2f2;
    margin: 0;
  }